#searchHistory li {
  display: block;
  list-style: none;
  text-align: center;
  background-color: whitesmoke;
  margin: 5px;
  width: 150px;
  line-height: 30px;
  border: 1px solid red;
  border-radius: 5px;
}

.jumbotron-fluid {
  text-align: center;
  color: snow;
  background-size: cover;
  background-image: url("img/bg.jpg");
  border-radius: 0;
}

.aside {
  align-content: center;
  padding: 100px;
}

#clearButton {
  align-content: center;
}

@media screen and (min-width: 400px) {
  .currentData {
    align-content: center;
  }

  .forecastData {
    align-content: center;
  }
}
