#searchHistory li {
  display: block;
  list-style: none;
  text-align: center;
  background-color: whitesmoke;
  margin: 5px;
  width: 150px;
  line-height: 30px;
  border: 1px solid red;
  border-radius: 5px;
}
